# 测试gpg签名提交
[init]
	defaultBranch = main
[user]
	email = changpeng94@gmail.com
	name = pengchang
	signingkey = E6B06164FE40CC96
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
